<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Сервис Файлообмена</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid text-center">
		<div>
			<h1>Сервис Файлообмена</h1>
		</div>
		
		<div class="text-success">
           <h3>[[${message}]]</h3>
        </div>

		<div class="row border rounded m-3 p-3">
			<th:block th:each="doc : ${listDocs}">
				<div class="col">
					<div>
						<img th:src="@{/images/document.png}" width="50" />
					</div>
					<div>
						<a th:href="@{'/download?id=' + ${doc.id}}">[[${doc.name}]]</a>
					</div>
					<div>([[${#numbers.formatInteger(doc.size, 4, 'COMMA')}]]
						bytes)</div>
				</div>
			</th:block>
		</div>

		<form th:action = "@{/upload}"
            method="post" 
            enctype="multipart/form-data"
            style="max-width: 600px; margin: 0 auto;">
        <div class="border rounded m-3">
         <h2>Загрузите файл</h2>
         <p>
            <input type="file" name="document" required />
         </p>
         <p>
            <input type="submit" value="Загрузить" class="btn btn-primary" />
         </p>
        </div>
      </form>
	</div>
</body>
</html>